/**
 ████████                     ██
░██░░░░░                     ░██
░██        ██████  ███████  ██████  ██████
░███████  ██░░░░██░░██░░░██░░░██░  ██░░░░
░██░░░░  ░██   ░██ ░██  ░██  ░██  ░░█████
░██      ░██   ░██ ░██  ░██  ░██   ░░░░░██
░██      ░░██████  ███  ░██  ░░██  ██████
░░        ░░░░░░  ░░░   ░░    ░░  ░░░░░░
 
    by Sproggy (Corrie Tilcock) (2026)
 **/

* {
    font: "Cantarell 10";
}
