/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0c151b !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c2c4c6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c2c4c6; background-color: rgba(213,171,157,0.4)}
.cm-s-nqqwal { background-color: #0c151b; color: #c2c4c6; }
.cm-s-nqqwal span.cm-builtin { color: #2593A8; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5b666f; }
.cm-s-nqqwal span.cm-keyword { color: #718D9C; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #9EA0A3; }
.cm-s-nqqwal span.cm-def { color: #97A6AB; }
.cm-s-nqqwal span.cm-variable { color: #D5AB9D; }
.cm-s-nqqwal span.cm-variable-2 { color: #97A6AB; }
.cm-s-nqqwal span.cm-string { color: #2593A8; }
.cm-s-nqqwal span.cm-string-2 { color: #2593A8; }
.cm-s-nqqwal span.cm-number { color: #97A6AB; }
.cm-s-nqqwal span.cm-tag { color: #718D9C; }
.cm-s-nqqwal span.cm-property { color: #D5AB9D; }
.cm-s-nqqwal span.cm-attribute { color: #D5AB9D; }
.cm-s-nqqwal span.cm-qualifier { color: #9EA0A3; }
.cm-s-nqqwal span.cm-meta { color: #97A6AB; }
.cm-s-nqqwal span.cm-header { color: #718D9C; }
.cm-s-nqqwal span.cm-operator { color: #718D9C; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(151,166,171,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #718D9C; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0c151b); }
