#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0c151b",
    floating_border_color: "#D5AB9D",
    focused_border_color: "#c2c4c6",
    background_color: "#0c151b",
)