[Desktop Entry]
Version=1.0
Type=Application
Name=Manage Users
Comment=Edit System configuration
Exec=bash -c "$HOME/dotfiles/scripts/users.sh; read"
Icon=user
Terminal=false